In [2]:
import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="123456"
)

print(sudh.is_connected())

True

In [6]:
mycursor = mydb.cursor()
mycursor = mydb.cursor()
mycursor.execute('create database ineuron')

In [8]:
mycursor.execute('create table ineuron.fsds(studentid int , firstname varchar(50) , lastname varchar(50) , registrationdate DATE,class varchar(20) , course_name varchar(50))')

In [9]:
mycursor.execute("""insert into ineuron.fsds values(123 , 'sudhanshu', 'kumar','2022-11-11','sql','fsds'),
(124 , 'r', 'singh','2022-11-11','sql','fsds'),
(125 , 'rohan', 'kumar','2022-11-11','sql','fsds'),
(126 , 'shreeja', 'maynale','2022-11-11','sql','fsds'),
(127 , 'shubham', 'vedi','2022-11-11','sql','fsds'),
(128 , 'abhishek', 'saini','2022-11-11','sql','fsds'),
(129 , 'manoj', 'tripathi','2022-11-11','sql','fsds'),
(130 , 'mayur ', 'gupta','2022-11-11','sql','fsds'),
(131 , 'sumay', 'cahtterjee','2022-11-11','sql','fsds'),
(132 , 'raunak', 'shgaow','2022-11-11','sql','fsds'),
(133 , 'danish', 'khan','2022-11-11','sql','fsds')""")

mydb.commit()

In [10]:
mycursor.execute('select * from ineuron.fsds')

In [11]:
for i in mycursor:
    print(i)

(123, 'sudhanshu', 'kumar', datetime.date(2022, 11, 11), 'sql', 'fsds')
(124, 'r', 'singh', datetime.date(2022, 11, 11), 'sql', 'fsds')
(125, 'rohan', 'kumar', datetime.date(2022, 11, 11), 'sql', 'fsds')
(126, 'shreeja', 'maynale', datetime.date(2022, 11, 11), 'sql', 'fsds')
(127, 'shubham', 'vedi', datetime.date(2022, 11, 11), 'sql', 'fsds')
(128, 'abhishek', 'saini', datetime.date(2022, 11, 11), 'sql', 'fsds')
(129, 'manoj', 'tripathi', datetime.date(2022, 11, 11), 'sql', 'fsds')
(130, 'mayur ', 'gupta', datetime.date(2022, 11, 11), 'sql', 'fsds')
(131, 'sumay', 'cahtterjee', datetime.date(2022, 11, 11), 'sql', 'fsds')
(132, 'raunak', 'shgaow', datetime.date(2022, 11, 11), 'sql', 'fsds')
(133, 'danish', 'khan', datetime.date(2022, 11, 11), 'sql', 'fsds')

In [13]:
mycursor.execute("show databases")

In [15]:
mycursor.fetchall()

[('glass',),
 ('ineuron',),
 ('information_schema',),
 ('mysql',),
 ('performance_schema',),
 ('sakila',),
 ('sys',),
 ('test',),
 ('testsudhineuron',),
 ('world',)]