In [3]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://sumay:sumay123@cluster0.r3h4g.mongodb.net/?retryWrites=true&w=majority")
db = client.test
print(db)

Database(MongoClient(host=['cluster0-shard-00-01.r3h4g.mongodb.net:27017', 'cluster0-shard-00-02.r3h4g.mongodb.net:27017', 'cluster0-shard-00-00.r3h4g.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-10bm6q-shard-0', tls=True), 'test')

In [ ]:
'''MySQL 	MongoDB
Matured or stable	Its new and updated frequently
It follows tabular structure	It follows document structure like JSON format
It needs a proper schema	Its flexible in nature
Managing complex relations among different tables is easy	Its not that great in complex managing relationship
Its scales vertically	Horizontaly scalable'''

In [4]:
db1=client["sumay"]

In [5]:
coll=db1["table_1"]

In [6]:
dic={
    "a":1,
    "b":2,
    "c":3,
    "d":4,
    "e":5,
    "f":6,
}

In [7]:
coll.insert_one(dic)

In [8]:
for i in coll.find():
    print(i)

{'_id': ObjectId('63c0ddd7020e66b3b8e9b245'), 'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}

In [11]:
dic={
    "_id":123,
    "aa":545,
    "dskjh":55,
    "klj":56
}

In [13]:
coll.insert_one(dic)

In [15]:
coll.find()

In [16]:
for i in coll.find():
    print(i)

{'_id': ObjectId('63c0ddd7020e66b3b8e9b245'), 'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
{'_id': 123, 'aa': 545, 'dskjh': 55, 'klj': 56}

In [17]:
coll.update_one({"a":1},{"$set":{"a":"abcs"}})

In [18]:
for i in coll.find():
    print(i)

{'_id': ObjectId('63c0ddd7020e66b3b8e9b245'), 'a': 'abcs', 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
{'_id': 123, 'aa': 545, 'dskjh': 55, 'klj': 56}

In [30]:
lstc=[
    {
        "a4":"apple",
        "b4":"ball",
        "c4":"cat",
    },
    {
        "d4":"dog",
        "e4":"ele",
        "f4":"fish",
        "g4":"jack",
    },

    
]

In [31]:
coll.insert_many(lstc)

In [34]:
for i in coll.find():
    print(i)

{'_id': ObjectId('63c0ddd7020e66b3b8e9b245'), 'a': 'abcs', 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6}
{'_id': 123, 'aa': 545, 'dskjh': 55, 'klj': 56}
{'_id': ObjectId('63c0e08a020e66b3b8e9b24f'), 'a4': 'apple', 'b4': 'ball', 'c4': 'cat'}
{'_id': ObjectId('63c0e08a020e66b3b8e9b250'), 'd4': 'dog', 'e4': 'ele', 'f4': 'fish', 'g4': 'jack'}

In [43]:
lst1={
        "gvhhg":111,
        "hhb":222,
        "gccg":333,
        "hgvhbj":444,
}

In [44]:
coll.insert(lst1)

TypeError: 'Collection' object is not callable. If you meant to call the 'insert' method on a 'Collection' object it is failing because no such method exists.