# For Loop and While Loop

In [1]:
l=["name","game","fame",45,25]

In [2]:
for i in l:
    print(i)
else:
    print()
    print("If i is going to run than only it will executed")

name
game
fame
45
25

If i is going to run than only it will executed

In [3]:
for i in l:
    if i =="name":
        print(i)
    else:
        print("Check the statement")

name
Check the statement
Check the statement
Check the statement
Check the statement

In [4]:
for i in l:
    if i =="name":
        print(i)
else:
    print("Check the statement")

name
Check the statement

In [5]:
for i in l:
    if i =="name":
        break
        print(i)
else:
        print("Check the statement")

In [6]:
for i in l:
    if i =="game":
        break
    print(i)
else:
        print("Check the statement")

name

In [7]:
l

['name', 'game', 'fame', 45, 25]

In [8]:
for i in l:
    if i =="fame":
        break
    print(i)
else:
        print("Check the statement")

name
game

In [9]:
s="sudhansu"

for i in s:
    if i == "n":
        break
else:
    print("When my name will execute than it will print")

In [10]:
# if we put print aside break it will print the given statement

for i in s:
    if i == "d":
        break
    print(i)

else:
    print("When my name will execute than it will print")

s
u

In [11]:
# if we put print under break it will print the given statement

for i in s:
    if i == "d":
        break
        print(i)

else:
    print("When my name will execute than it will print")

In [12]:
for i in s:
    if i == "s":
        break
        print(i)

else:
    print("When my name will execute than it will print")

In [13]:
for i in l:
    if i =="fame":
        break
        print(i)
else:
        print("Check the statement")

 For loop just iterated the collection whereas,                        
 While loop check statement  wheather it is True or not

In [14]:
a=1
while a <6:
    print(a)
    a=a+1
    
     # This is a correct code

1
2
3
4
5

In [15]:
a=1
while a>6:
    print(a)
    a=a+1
    
    # This is a wrong code

In [16]:
a=1
while a==1:
    print(a)
    a=a+1
    
    # This is a wrong code

1

In [17]:
a=1
while a <10:
    print(a)
    a=a+1
    
    # This is a right code

1
2
3
4
5
6
7
8
9

In [18]:
a=1
if a < 6:
    print(a)
    a=a+1

1

In [19]:
a=1
while a < 9:
    print(a)
    if a==4:
        break
    a=a+1
    
    # This is a correct code

1
2
3
4

In [20]:
a=1
while a < 5:
    
    if a==4:
        break
    a=a+1
    print(a)
    
    # This is a wrong code

2
3
4

In [21]:
a=1
while a < 5:
    
    if a==4:
        print(a)
        break
    a=a+1
    
    # This is a wrong code

4

In [34]:
a=2
while a < 6:
    print(a)
    if a==5:
        break
    a=a+1

2
3
4
5

In [31]:
a=1
while a < 19:
    print(a)
    if a==10:
        break
    a=a+1
    
    # This is a correct code

1
2
3
4
5
6
7
8
9
10

# range

In [35]:
range(6)

range(0, 6)

In [36]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [37]:
list(range(6))

[0, 1, 2, 3, 4, 5]

In [38]:
list(range(2,10,-1))

[]

In [41]:
list(range(2,-10,-1))

[2, 1, 0, -1, -2, -3, -4, -5, -6, -7, -8, -9]

In [42]:
list(range(10,6,1))

[]

In [43]:
list(range(10,6,-1))

[10, 9, 8, 7]

In [44]:
n=5
for i in range(0,n):
    for j in range(0,i+1):
        print("*", end ="")
    print("\r")

*
**
***
****
*****

In [48]:
n=5
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end ="")
    print("\r")

*
**
***
****
*****

In [50]:
n=5
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end ="")
    print("\r")

*
**
***
****
*****

In [54]:
t=(1,2,3,4,5,6,7,8,9)
t.index(5)

4

In [55]:
t=(1,2,3,4,5,6,7,8,9)
len(t)

9

In [56]:
t=(1,2,3,4,5,6,7,8,9)
range(len(t))

range(0, 9)

In [61]:
t=(1,2,30,45,15,6,7,8,9)
for i in range(len(t)):
    print(i, t[i])

0 1
1 2
2 30
3 45
4 15
5 6
6 7
7 8
8 9

In [63]:
# in reverse
for i in range(len(t)-1,-1,-1):
    print(i, t[i])

8 9
7 8
6 7
5 6
4 15
3 45
2 30
1 2
0 1

In [66]:
for i in range(len(t)-1,0,-1):
    print(i, t[i])

8 9
7 8
6 7
5 6
4 15
3 45
2 30
1 2

In [69]:
d={"a":"ram","b":"shyam","c":"krish","d":[1,2,3,4],"e":(5,6,7,8)}
d

{'a': 'ram', 'b': 'shyam', 'c': 'krish', 'd': [1, 2, 3, 4], 'e': (5, 6, 7, 8)}

In [70]:
for i in d:
    print(i)

a
b
c
d
e

In [71]:
for i in d:
    print(i, d[i])

a ram
b shyam
c krish
d [1, 2, 3, 4]
e (5, 6, 7, 8)

In [73]:
d.items()

dict_items([('a', 'ram'), ('b', 'shyam'), ('c', 'krish'), ('d', [1, 2, 3, 4]), ('e', (5, 6, 7, 8))])

In [74]:
for i in d.items():
    print(i)

('a', 'ram')
('b', 'shyam')
('c', 'krish')
('d', [1, 2, 3, 4])
('e', (5, 6, 7, 8))

In [76]:
set={2,3,5,4,8,5,5,5,5,6,4,5,7,8,122,5,88,5,85,4,989,5,665,5,55,65,4,5,5,5,85,8,5,8}
set

{2, 3, 4, 5, 6, 7, 8, 55, 65, 85, 88, 122, 665, 989}

In [77]:
for i in set:
    print(i)

65
2
3
4
5
6
7
8
85
55
88
665
122
989