# If ,Else and For Loop

In [ ]:
income=int(input("Put your salary:- "))
if income < 5000:
    print("I will buy a phone")
elif income < 7000:
    print("I will buy a car")
elif income < 9000:
    print("I will buy a house")
else:
    print("Uff i can't buy anything")

In [ ]:
try:
    income=15000
    if income < 5000:
        print("I can't buy anything ")
    elif income < 7000:
        print("I can buy only a phone")
    elif income < 9000:
        print("I can buy a house")
    else:
        print("Hurray!, i have good income so i can buy anything")

except Exception as e:
    print(e)

In [ ]:
try:
    income=int(input("Enter your salary MR.- "))
    if income < 5000:
        print("I can't buy anything ")
    elif income < 7000:
        print("I can buy only a phone")
    elif income < 9000:
        print("I can buy a house")
    else:
        print("Hurray!, i have good income so i can buy anything")

except Exception as e:
    print(F"You have enter wrong output, {e} ")

In [36]:
price=int(input())
if price > 20000:
    discount= price*0.20
    print("discount",discount)
elif price <= 7000:
    discount= price*.05
    print("discount", discount)
else:
    print("no discount")

4565
discount 228.25

In [34]:
total_price=int(input("Enter the course price: "))
if total_price > 20000:
    discount= total_price* 0.20
    print(f"Your discount price is : {discount}")
    print(f"After discount your price is : {total_price-discount}")
elif total_price >= 11000:
    discount =total_price*0.05
    print(f"Your discount price is: {discount}")
    print(f"After discount your price is: {total_price-discount}")
elif total_price >= 9000:
    discount =total_price*0.04
    print(f"Your Discount price is: {discount}")
    print(f"After discount your total price is: {total_price-discount}")
else:
    print ("So Sorry! your purchasing price is too low ")

Enter the course price: 25000
Your discount price is : 5000.0
After discount your price is : 20000.0

In [40]:
## Using coupon code

coup=input("Enter the coupn code: ")
if coup=="SUDH50":
    print("you will be able to get a discount of 5%")
    paid_amount=7080*0.05
    print("Discount of ",paid_amount)
else:
    print("Kindly use valid coupoun code")

Enter the coupn code: 4558
Kindly use valid coupoun code

In [47]:
## Using coupon code

coup=input("Enter the coupn code: ")
if coup=="SUDH50" or coup=="sudh50":
    
    print("you will be able to get a discount of 5%")
    paid_amount=7080*0.05
    print("Discount of ",paid_amount)
else:
    print("Kindly use valid coupoun code")

Enter the coupn code: HGFGH
Kindly use valid coupoun code

In [71]:
study_hour=int(input("What is your Study Hours:- "))

if study_hour <= 2:
    print("it will take more than 9 months to complete the course")
elif study_hour < 6 and study_hour > 4:
    print("It will take only 6 month to complete the entire course")
elif study_hour > 10:
    print("It will take just 3 months to complete thecourse")
    
else:
    print("it will be hard")

What is your Study Hours:- 1
it will take more than 9 months to complete the course

# While loop and For Loop

In [72]:
l=[1,2,3,4,5]
for i in l:
    print(i)

1
2
3
4
5

In [73]:
l=[1,2,5.6,5+7j,"rahul"]
for i in l:
    print(type(i))

<class 'int'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>

In [75]:
l=[1,2,5.6,5+7j,"rahul"]
for i in l:
    print(type(i), "type of ", i)

<class 'int'> type of  1
<class 'int'> type of  2
<class 'float'> type of  5.6
<class 'complex'> type of  (5+7j)
<class 'str'> type of  rahul

In [76]:
l=[1,4,5.6,7,8]
for i in l:
    print(i+2)

3
6
7.6
9
10

In [80]:
l=[1,4,5.6,7,8]
l1=[]
for i in l:
    print(i+2)
    l1.append(i+2)
    
print(l1)

3
6
7.6
9
10
[3, 6, 7.6, 9, 10]

In [81]:
l1

[3, 6, 7.6, 9, 10]

In [87]:
l=[2,45,78,12,"sudh",6+7j,[4,5,6]]

for i in l:
    if type(i)==int:
        print(i)
    else:
        print()

2
45
78
12

In [89]:
l=[2,45,78,12,545.3,54.5,489,"sudh",6+7j,[4,5,6]]

for i in l:
    if type(i)==int:
        print(i)

2
45
78
12
489

In [90]:
for i in l:
    if type(i)==str:
        print(i)

sudh

In [101]:
l=[2,45,78,12,545.3,54.5,489,"sudh",6+7j,[4,5,6]]
l1=[]

for i in l:
    if type(i)==int:
        print(i**2)
        l1.append(i**2)
        
        
print()        
print(l1)

4
2025
6084
144
239121

[4, 2025, 6084, 144, 239121]

In [105]:
range(5)

range(0, 5)

In [107]:
len(l)

10

In [102]:
for i in range(len(l)):
    print("index ", i , " for an element ", l[i])

index  0  for an element  2
index  1  for an element  45
index  2  for an element  78
index  3  for an element  12
index  4  for an element  545.3
index  5  for an element  54.5
index  6  for an element  489
index  7  for an element  sudh
index  8  for an element  (6+7j)
index  9  for an element  [4, 5, 6]

In [108]:
for i in enumerate(l):
    print(i)

(0, 2)
(1, 45)
(2, 78)
(3, 12)
(4, 545.3)
(5, 54.5)
(6, 489)
(7, 'sudh')
(8, (6+7j))
(9, [4, 5, 6])

In [110]:
for i,j in enumerate(l):
    print(i,j)

0 2
1 45
2 78
3 12
4 545.3
5 54.5
6 489
7 sudh
8 (6+7j)
9 [4, 5, 6]