## Cassandra

In [3]:
Why cassandra (NoSQL)

1) Scalability --> we can increase our space or memory capacity
2) High availabilty -->
3) decentralise --> no single failurer
4) scalable -->

SyntaxError: invalid syntax (1014675625.py, line 1)

In [2]:
SQL is known as Vertically Scalabel system whereas 
Cassandra is known as Horizontally scalabel system

SyntaxError: invalid syntax (4099722503.py, line 1)

In [4]:
! pip install cassandra-driver

^C

In [6]:
pip install cassandra-driver

Requirement already satisfied: cassandra-driver in c:\users\win11\anaconda3\lib\site-packages (3.25.0)
Requirement already satisfied: geomet<0.3,>=0.1 in c:\users\win11\anaconda3\lib\site-packages (from cassandra-driver) (0.2.1.post1)
Requirement already satisfied: six>=1.9 in c:\users\win11\anaconda3\lib\site-packages (from cassandra-driver) (1.16.0)
Requirement already satisfied: click in c:\users\win11\anaconda3\lib\site-packages (from geomet<0.3,>=0.1->cassandra-driver) (8.0.4)
Requirement already satisfied: colorama in c:\users\win11\anaconda3\lib\site-packages (from click->geomet<0.3,>=0.1->cassandra-driver) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

# Introduction To Pandas

In [2]:
import pandas as pd

In [11]:
pd.read_csv(r"C:\Users\win11\Downloads\ohana-api-master\data\sample-csv\locations.csv").head()

,id,organization_id,accessibility,admin_emails,alternate_name,description,email,languages,latitude,longitude,name,short_desc,transportation,website,virtual
0,1,1,"disabled_parking, ramp, restroom, wheelchair",NaN,NaN,A walk-in center for older adults that provide...,NaN,"Spanish, Tagalog",37.477227,-122.213221,Fair Oaks Adult Activity Center,A multipurpose senior citizens' center serving...,SAMTRANS stops in front.,NaN,False
1,2,1,wheelchair,NaN,NaN,Provides training and job placement to eligibl...,NaN,"Chinese (Mandarin), Tagalog, Italian, Spanish",37.563984,-122.325799,Second Career Employment Program,Provides training and job placement to eligibl...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False
2,3,1,NaN,NaN,NaN,Offers supportive counseling services to San M...,NaN,"Chinese (Cantonese), Chinese (Mandarin), Tagal...",37.563984,-122.325799,Senior Peer Counseling,Offers supportive counseling services to older...,Service is provided in person's home or at a m...,NaN,False
3,4,1,wheelchair,NaN,NaN,Provides supervised visitation services and a ...,NaN,Spanish,37.563984,-122.325799,Family Visitation Center,Provides supervised visitation services and a ...,"SAMTRANS stops within 1 block, CALTRAIN stops ...",NaN,False
4,5,1,wheelchair,NaN,NaN,Provides fixed 8% short term loans to eligible...,NaN,"Hindi, Spanish",37.563984,-122.325799,Economic Self - Sufficiency Program,Makes small loans to working families.,SAMTRANS stops within 1 block. CALTRAIN stops ...,NaN,False

In [14]:
pd.read_csv(r"C:\Users\win11\Downloads\ohana-api-master\data\sample-csv\taxonomy.csv")

    taxonomy_id                          name parent_id           parent_name
0           101                     Emergency       NaN                   NaN
1        101-01             Disaster Response       101             Emergency
2        101-02                Emergency Cash       101             Emergency
3     101-02-01             Help Pay for Food    101-02        Emergency Cash
4     101-02-02       Help Pay for Healthcare    101-02        Emergency Cash
..          ...                           ...       ...                   ...
285   111-01-07              Workplace Rights    111-01  Advocacy & Legal Aid
286      111-02                     Mediation       111                 Legal
287      111-03                        Notary       111                 Legal
288      111-04                Representation       111                 Legal
289      111-05  Translation & Interpretation       111                 Legal

[290 rows x 4 columns]

In [13]:
data=r"C:\Users\win11\Downloads\ohana-api-master\data\sample-csv\taxonomy.csv"

In [8]:
pd.read_csv(data,header = None)

,0,1,2,3
0,taxonomy_id,name,parent_id,parent_name
1,101,Emergency,NaN,NaN
2,101-01,Disaster Response,101,Emergency
3,101-02,Emergency Cash,101,Emergency
4,101-02-01,Help Pay for Food,101-02,Emergency Cash
...,...,...,...,...
286,111-01-07,Workplace Rights,111-01,Advocacy & Legal Aid
287,111-02,Mediation,111,Legal
288,111-03,Notary,111,Legal
289,111-04,Representation,111,Legal
290,111-05,Translation & Interpretation,111,Legal

In [11]:
# to change the header name

pd.read_csv(data,names=["abc","def","ghi","jkl"])

,abc,def,ghi,jkl
0,taxonomy_id,name,parent_id,parent_name
1,101,Emergency,NaN,NaN
2,101-01,Disaster Response,101,Emergency
3,101-02,Emergency Cash,101,Emergency
4,101-02-01,Help Pay for Food,101-02,Emergency Cash
...,...,...,...,...
286,111-01-07,Workplace Rights,111-01,Advocacy & Legal Aid
287,111-02,Mediation,111,Legal
288,111-03,Notary,111,Legal
289,111-04,Representation,111,Legal
290,111-05,Translation & Interpretation,111,Legal

In [12]:
# to give more columns name

pd.read_csv(data,names=["abc","def","ghi","jkl","gghg","wygy"])

,abc,def,ghi,jkl,gghg,wygy
0,taxonomy_id,name,parent_id,parent_name,NaN,NaN
1,101,Emergency,NaN,NaN,NaN,NaN
2,101-01,Disaster Response,101,Emergency,NaN,NaN
3,101-02,Emergency Cash,101,Emergency,NaN,NaN
4,101-02-01,Help Pay for Food,101-02,Emergency Cash,NaN,NaN
...,...,...,...,...,...,...
286,111-01-07,Workplace Rights,111-01,Advocacy & Legal Aid,NaN,NaN
287,111-02,Mediation,111,Legal,NaN,NaN
288,111-03,Notary,111,Legal,NaN,NaN
289,111-04,Representation,111,Legal,NaN,NaN
290,111-05,Translation & Interpretation,111,Legal,NaN,NaN

In [18]:
# to skip or delete row no
pd.read_csv(data,skiprows=[1,3]).head(5)

  taxonomy_id                     name parent_id     parent_name
0      101-01        Disaster Response       101       Emergency
1   101-02-01        Help Pay for Food    101-02  Emergency Cash
2   101-02-02  Help Pay for Healthcare    101-02  Emergency Cash
3   101-02-03     Help Pay for Housing    101-02  Emergency Cash
4   101-02-04         Help Pay for Gas    101-02  Emergency Cash

In [35]:
df=pd.read_csv(r"C:\Users\win11\Downloads\ohana-api-master\data\sample-csv\services.csv")

In [36]:
df.head(3)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN

In [37]:
df.dtypes

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [38]:
df.columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [39]:
df["name"]

0          Fair Oaks Adult Activity Center
1         Second Career Employment Program
2                   Senior Peer Counseling
3                 Family Visitation Center
4        Economic Self-Sufficiency Program
5     Little House Recreational Activities
6         Rosener House Adult Day Services
7           Meals on Wheels - South County
8                         Fair Oaks Branch
9                             Main Library
10                         Schaberg Branch
11                            Project Read
12                   Redwood Shores Branch
13                      Redwood City Corps
14             Adult Rehabilitation Center
15                         Sunnyvale Corps
16       South San Francisco Citadel Corps
17                           Project Smile
18           San Mateo Free Medical Clinic
19               Service with blank fields
20         Service for Admin Test Location
21                         Passport Photos
22                    Example Service Name
Name: name, dtype: object

In [40]:
a=df["name"]

In [41]:
type(a)

pandas.core.series.Series

In [42]:
df[["name",'location_id', 'program_id']]

                                    name  location_id  program_id
0        Fair Oaks Adult Activity Center            1         NaN
1       Second Career Employment Program            2         NaN
2                 Senior Peer Counseling            3         NaN
3               Family Visitation Center            4         NaN
4      Economic Self-Sufficiency Program            5         NaN
5   Little House Recreational Activities            6         NaN
6       Rosener House Adult Day Services            7         NaN
7         Meals on Wheels - South County            8         NaN
8                       Fair Oaks Branch            9         NaN
9                           Main Library           10         NaN
10                       Schaberg Branch           11         NaN
11                          Project Read           12         NaN
12                 Redwood Shores Branch           13         NaN
13                    Redwood City Corps           14         NaN
14           Adult Rehabilitation Center           15         NaN
15                       Sunnyvale Corps           16         NaN
16     South San Francisco Citadel Corps           17         NaN
17                         Project Smile           18         NaN
18         San Mateo Free Medical Clinic           19         NaN
19             Service with blank fields           20         NaN
20       Service for Admin Test Location           21         NaN
21                       Passport Photos           22         NaN
22                  Example Service Name           22         NaN

In [43]:
a1=df[["name",'location_id', 'program_id']]

In [44]:
type(a1)

pandas.core.frame.DataFrame

In [46]:
type(df["name"])

pandas.core.series.Series

In [45]:
type(df[["name"]])

pandas.core.frame.DataFrame

## using excel sheet

In [48]:
data=r"C:\Users\win11\Downloads\sample-excel-master\sample-excel-master\LUSID Excel - Manage Orders.xlsx"

In [66]:
df=pd.read_excel(data)

In [67]:
df.head(2)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
0,NaN,This sheet allows you to manage executions:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1. List executions,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
# to import specific sheet abailable in the excel sheet

pd.read_excel(data,sheet_name="Allocations").head(4)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,NaN,This sheet allows you to manage Allocations:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1. ListAllocations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2. GetAllocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3. UpsertAllocations,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [72]:
# to know the all sheet available in excel sheet --

df=pd.ExcelFile(data)
df.sheet_names

['Executions', 'Orders', 'Allocations', 'Placements', 'Blocks']

In [77]:
for i in df.sheet_names:
    a=pd.read_excel(data, sheet_name=i)

In [79]:
a.head(4)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16
0,NaN,This sheet allows you to manage Blocks:,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,1. ListBlocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,2. GetBlock,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,3. UpsertBlocks,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### how to import dataset from URL

In [5]:
pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

URLError: <urlopen error [WinError 10061] No connection could be made because the target machine actively refused it>