# Function

In [1]:
def test1():
    print("This is my first code")

In [2]:
test1()

This is my first code

In [3]:
test1()

This is my first code

In [4]:
a=test1()

This is my first code

In [5]:
a

In [6]:
a+"sudh"

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [17]:
test1()+" sudh"

This is my first code

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [19]:
type(test1())

This is my first code

NoneType

In [21]:
type(a)

NoneType

In [10]:
''' Thus we don't able to conconate test1()+"sudh"  so now we will able to 
    create a string type function in which we can concatenate or add in
    the future. '''

' Thus we don\'t able to conconate test1()+"sudh"  so now we will able to \n    create a string type function in which we can concated or add in\n    the future. '

In [11]:
def test2():
    return "this is my second code"

In [13]:
test2()

'this is my second code'

In [18]:
type(test2())

str

In [16]:
test2()+ " sudh "

'this is my second code sudh '

In [22]:
def test3():
    return 1234567

In [23]:
test3()

1234567

In [24]:
type(test3())

int

In [26]:
def test4():
    return 4,2,5,"sudh",[12,2,5,4]

In [27]:
test4()

(4, 2, 5, 'sudh', [12, 2, 5, 4])

In [29]:
# by deaufault it give the tuples----

type(test4())

tuple

In [30]:
test4()+"sudh"

TypeError: can only concatenate tuple (not "str") to tuple

In [36]:
# as it tuple by deaufalt so it will concatenate by tuple only

test4()+(4,2,5,66,48)

(4, 2, 5, 'sudh', [12, 2, 5, 4], 4, 2, 5, 66, 48)

In [37]:
test4()+[1,2,3]

TypeError: can only concatenate tuple (not "list") to tuple

In [38]:
b=test4()

In [39]:
b

(4, 2, 5, 'sudh', [12, 2, 5, 4])

In [40]:
b[1]

2

In [42]:
b[4]

[12, 2, 5, 4]

In [45]:
# to hold the different value at different variable of test4:

x,y,z,u,v=test4()

In [46]:
x

4

In [47]:
z

5

In [48]:
u

'sudh'

In [49]:
v

[12, 2, 5, 4]

In [89]:
def test5():
    a=6*4*5/6
    return a

In [90]:
test5()

20.0

In [63]:
l=[3,4,5,6,7,"sudh",[1,2,3,4,5]]

In [64]:
def test6(a):
    n=[]
    if type(a) == list:
        for i in a:
            if type(i) == int:
                n.append(i)
                
    return n

In [66]:
test6(a)

[]

In [67]:
test6(l)

[3, 4, 5, 6, 7]

In [71]:
type(test6(l))

list

In [68]:
s=[1,2,45,4,7,"kjh",[45,11,3,1],[41,23,45,11,552,88]]

In [69]:
test6(s)

[1, 2, 45, 4, 7]

In [77]:
l

[3, 4, 5, 6, 7, 'sudh', [1, 2, 3, 4, 5]]

In [82]:
def test6a(a):
    n=[]
    if type(a) == list:
        for i in a:
            if type(i) == int:
                n.append(i)
            elif type(i) == list:
                for j in i:
                    if type(j) == int:
                        n.append(j)
                        
    return n

In [83]:
test6a(l)

[3, 4, 5, 6, 7, 1, 2, 3, 4, 5]

In [84]:
test6a(s)

[1, 2, 45, 4, 7, 45, 11, 3, 1, 41, 23, 45, 11, 552, 88]

In [101]:
def test8(c):
    if type(c) == dict:
        return c.keys()
    else:
        return ("This is a wrong input")

In [102]:
test8("hjdff")

'This is a wrong input'

In [104]:
dic = {"abc":"hggd",
       "def":"lihiff",
       "ghi":455,
       "lmn":[1,2,3]
      }

In [105]:
test8(dic)

dict_keys(['abc', 'def', 'ghi', 'lmn'])

In [108]:
def test88(c):
    if type(c) == dict:
        return c
    else:
        return ("This is a wrong input")

In [109]:
test88(dic)

{'abc': 'hggd', 'def': 'lihiff', 'ghi': 455, 'lmn': [1, 2, 3]}