# Discussion In Loops

In [1]:
s="this is a basic python class"
len(s)

28

In [2]:
count=0
for i in s:
    count=count+1  # or count+=1
print(count)

28

In [3]:
s[::-1]

'ssalc nohtyp cisab a si siht'

In [4]:
for i in range(len(s)-1,-1,-1):
    print(s[i])

s
s
a
l
c

n
o
h
t
y
p

c
i
s
a
b

a

s
i

s
i
h
t

In [5]:
s

'this is a basic python class'

In [6]:
i=len(s)-1
while(i>=0):
    print(s[i], end="")
    i=i-1

ssalc nohtyp cisab a si siht

In [7]:
s.index("b")

10

In [8]:
s="ineuron"
v="AaEeIiOoUu"

if i in v:
    if s[i]==v:
        print(i)

TypeError: 'in <string>' requires string as left operand, not int

In [9]:
s="ineuron"
v="AaEeIiOoUu"

for i in s:
    if i in v:
        print("Vowel", i)
    else:
        print("not vowel ",i)

Vowel i
not vowel  n
Vowel e
Vowel u
not vowel  r
Vowel o
not vowel  n

In [10]:
x="mom"

w=""
for i in x:
    w=i+w
    if(x==w):
        print("yes")
    else:
        print("no")
        
        # Not a correct code--

no
no
yes

In [11]:
s=input()
v=s[::-1]

if s==v:
    print("palindrome")
else:
    print("Not palindrome")

5
palindrome

In [12]:
word=input("Enter the word")
for i in range(len(word)):
    if word[i] == word[len(word)-1-i]:
        print(word , "is palindrome")
        break
    else:
        print(word ,"is not palindrome")
        break

Enter the word5
5 is palindrome

In [13]:
word=input("Enter word :- ")

for i in range(len(word)):
    if word[i] != word[len(word)-i-1]:
        print(word ," is not palindrome")
        break
else:
    print(word , " palindrome")

Enter word :- 5
5  palindrome

In [14]:
word=input("Enter word :- ")

for i in range(len(word)):
    if word[i] != word[len(word)-i-1]:
        print(word ," is not palindrome")
        break
    else:
        print(word , " palindrome")
        break

Enter word :- 5
5  palindrome

In [15]:
s=input()
f=""
i=len(s)-1

while(i>=0):
    f=f+s[i]
    i=i-1
if s==f:
    print("Palindrome")
else:
    print("Not a palindrome")

5
Palindrome

In [16]:
d= {"India":"IN",
    "canada":"CN",
    "china": "CH",
    "united state":"US"
    
   }

In [17]:
"India" in d

True

In [18]:
print(d.keys)

<built-in method keys of dict object at 0x00000206F9E0B700>

In [19]:
d.items

In [20]:
d.values()

dict_values(['IN', 'CN', 'CH', 'US'])

In [21]:
d.keys()

dict_keys(['India', 'canada', 'china', 'united state'])

In [22]:
l_geater=[]
l_smaller=[]

for i in d:
    if len(i)<=5:
        l_smaller.append(i)
    else:
        l_geater.append(i)

In [23]:
l_geater

['canada', 'united state']

In [24]:
l_smaller

['India', 'china']

In [25]:
d_1= { "ineruron":{
                        "a":10,
                        "b":15,
                        "c":20

                    },
      "Course": {
                      "d":30,
                      "e":35,
                      "f":40
                  }

}

In [26]:
d_1

{'ineruron': {'a': 10, 'b': 15, 'c': 20},
 'Course': {'d': 30, 'e': 35, 'f': 40}}

In [27]:
max(d_1["ineruron"])

'c'

In [28]:
min(d_1)

'Course'

In [29]:
lst=[]
for i in d_1.values():
    for j in i.values():
        lst.append(j)
    print(max(lst))

20
40

In [30]:
max(lst)

40

In [31]:
min(lst)

10

In [3]:
d_1= { "ineruron":{
                        "a":10,
                        "b":15,
                        "c":20

                    },
      "Course": {
                      "d":30,
                      "e":35,
                      "f":40
                  },
      "g":34,"h":[45,6,7,8,9],"i":(45,34,2),"k":"sudh"

}

In [4]:
d_1

{'ineruron': {'a': 10, 'b': 15, 'c': 20},
 'Course': {'d': 30, 'e': 35, 'f': 40},
 'g': 34,
 'h': [45, 6, 7, 8, 9],
 'i': (45, 34, 2),
 'k': 'sudh'}

In [5]:
lst=[]

for i in d_1.values():
    for j in i.values():
        lst.append(lst)
    print(max(lst[i]))

TypeError: list indices must be integers or slices, not dict

In [6]:
d=d_1

In [7]:
d

{'ineruron': {'a': 10, 'b': 15, 'c': 20},
 'Course': {'d': 30, 'e': 35, 'f': 40},
 'g': 34,
 'h': [45, 6, 7, 8, 9],
 'i': (45, 34, 2),
 'k': 'sudh'}

In [8]:
lst=[]

for i in d_1.values():
    for j in i.values():
        lst.append(lst)
    print(max(lst))

[[...], [...], [...]]
[[...], [...], [...], [...], [...], [...]]

AttributeError: 'int' object has no attribute 'values'

In [9]:
d.values()

dict_values([{'a': 10, 'b': 15, 'c': 20}, {'d': 30, 'e': 35, 'f': 40}, 34, [45, 6, 7, 8, 9], (45, 34, 2), 'sudh'])

In [10]:
r=[]
for i in d.values():
    if type(i) == int:
        r.append(max(i.values()))
        print(max(r))

AttributeError: 'int' object has no attribute 'values'

In [11]:
d

{'ineruron': {'a': 10, 'b': 15, 'c': 20},
 'Course': {'d': 30, 'e': 35, 'f': 40},
 'g': 34,
 'h': [45, 6, 7, 8, 9],
 'i': (45, 34, 2),
 'k': 'sudh'}

In [12]:
l1=[]

for i in d.values():
    if type(i)==dict:
        l1.append(max(i.values()))
    elif type(i)==list:
        l1.append(max(i))
    elif type(i)==tuple:
        l1.append(max(i))
    elif type(i)==str:
        pass
print(max(l1))

45

In [13]:
l1=[]

for i in d.values():
    if type(i)==dict:
        l1.append(max(i.values()))
    elif type(i)==list:
        l1.append(max(i))
    elif type(i)==tuple:
        l1.append(max(i))
    
print(max(l1))

45

In [14]:
l1=[]

for i in d.values():
    if type(i)==dict:
        l1.append(max(i.values()))
    elif type(i)==list:
        l1.append(max(i))
    elif type(i)==tuple:
        l1.append(max(i))
    elif type(i)==str:
        pass
print(max(l1))

45

In [15]:
for i in d.values():
    if type(i)==dict:
        l1.append(max(i.values()))
    elif type(i)==list:
        l1.append(max(i))
    elif type(i)==tuple:
        l1.append(max(i))
        
        
print(l1)

[20, 40, 45, 45, 20, 40, 45, 45]

In [16]:
print(max(l1))

45

In [17]:
l1=[]
for i in d.values():
    if type(i)==dict:
        l1.append(max(i.values()))
    elif type(i)==list:
        l1.append(max(i))
    elif type(i)==tuple:
        l1.append(max(i))
        
        
print(l1)
print()
print(max(l1))

[20, 40, 45, 45]

45

In [18]:
d

{'ineruron': {'a': 10, 'b': 15, 'c': 20},
 'Course': {'d': 30, 'e': 35, 'f': 40},
 'g': 34,
 'h': [45, 6, 7, 8, 9],
 'i': (45, 34, 2),
 'k': 'sudh'}

In [19]:
d= { "ineruron":{
                        "a":10,
                        "b":15,
                        "c":20

                    },
      "Course": {
                      "d":30,
                      "e":35,
                      "f":40
                  },
      "g":34,"h":[45,6,7,8,9,"ram"],"i":(45,34,2),"k":"sudh"

}

In [20]:
d

{'ineruron': {'a': 10, 'b': 15, 'c': 20},
 'Course': {'d': 30, 'e': 35, 'f': 40},
 'g': 34,
 'h': [45, 6, 7, 8, 9, 'ram'],
 'i': (45, 34, 2),
 'k': 'sudh'}

In [21]:
l1=[]
for i in d.values():
    if type(i)==dict:
        l1.append(max(i.values()))
    elif type(i)==list:
        l1.append(max(i.values())
    elif type(i)==tuple:
        l1.append(max(i))
        
        
print(l1)
print()
print(max(l1))

SyntaxError: invalid syntax (3183827142.py, line 7)

In [28]:
d.insert{"m":1}

SyntaxError: invalid syntax (3674040996.py, line 1)

In [24]:
d

{'ineruron': {'a': 10, 'b': 15, 'c': 20},
 'Course': {'d': 30, 'e': 35, 'f': 40},
 'g': 34,
 'h': [45, 6, 7, 8, 9, 'ram'],
 'i': (45, 34, 2),
 'k': 'sudh'}